html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: $font;
    background-color: $bg-clr;
}


a {
    text-decoration: underline;
    color: inherit; 
}

em {
    font-weight: 700;
}

small {
    font-size: 1.4rem;
}


mark {
    background-color: $secondary-clr;
    border-bottom: 2px solid $primary-clr;
    padding: 0 3px;
}



.site-title {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    a {
        text-decoration: none;
    }
}


.page-title {
    font-size: 3.2rem;
    font-weight: 300;
}



.page-title-lv2,
.dialog-title {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: center;
}


.primary-label {
    font-weight: 700;
    font-size: 1.4rem;
}



.sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* syntax for IE6 & IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}


.restaurant__name {
    font-weight: 700;
    font-size: 2.5rem;
}


.label {
    font-weight: 700;
    font-size: 1.4rem;
}


