@@include('partials/header.html')
<main class="site-main">

    <header class="page-header">
        <div class="wrapper">
            <h2 class="page-title">
                Restaurants
            </h2>
            <button class="open-filter-dialog floating-btn" type="button" aria-label="Open Filter Dialog">
                <i class="fa fa-sliders"></i>
            </button>
        </div>
    </header>

    <div class="wrapper">
        <ul class="restaurants" id="restaurants" aria-live="polite">
            Loading Restaurants...   
        </ul>
    </div>
    
</main>

<div class="dialog" id="filter-dialog" role="dialog" aria-hidden="true" aria-labelledby="dialog-title" aria-describedby="dialog-description">
    <h2 class="dialog-title" id="dialog-title">
        Filter Restaurants
    </h2>
    <p class="sr-only" id="dialog-description">Use the form below to filter the restaurants by location, cuisine type, or number of stars</p>
    <div class="dialog-content">
        <form id="filter-form">
            <div class="input-group">
                <label for="filter_location">
                    <span class="label">Filter by Location</span>
                    <select name="filter_location" id="filter_location">
                        <option value="all">All</option>
                        <option value="Victoria Island">Victoria Island</option>
                        <option value="Ikoyi">Ikoyi</option>
                        <option value="Lekki">Lekki</option>
                        <option value="Yaba">Yaba</option>
                    </select>
                </label>
            </div>

            <div class="input-group">
                <label for="filter_cuisine">
                    <span class="label">Filter by Cuisine</span>
                    <select name="filter_cuisine" id="filter_cuisine">
                        <option value="all">All</option>
                        <option value="Nigerian">Nigerian</option>
                        <option value="Continental">Continental</option>
                        <option value="American">American</option>
                    </select>
                </label>
            </div>

            <div class="input-group">
                <label for="filter_rating">
                    <span class="label">Filter by Star Rating</span>
                    <select name="filter_rating" id="filter_rating">
                        <option value="all">All</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </label>
            </div>

            <div class="input-group--full">
                <button type="submit" class="close-filter-dialog">Apply Filter</button>
            </div> 
        </form>
    </div>
</div>

@@include('partials/footer.html')  

<script src="assets/js/IndexController.js"></script>  

@@include('partials/footer-last.html') 

