@@include('header.html')
<main class="site-main" id="restaurantPage">    
</main>

<div class="dialog" id="review-dialog" role="dialog" aria-hidden="true" aria-labelledby="dialog-title" aria-describedby="dialog-description">
    <h2 class="dialog-title" id="dialog-title">
        Add a Review
    </h2>
    <p class="sr-only" id="dialog-description">Use the form below to add your own review of this restaurant</p>
    <div class="dialog-content">
        <form>
            <select name="" id="">
                <option value="">Stuff</option>
            </select>
            
        </form>
        <button class="close-filter-dialog">Close Window</button>
    </div>
</div>

@@include('footer.html')  

<script src="assets/js/RestaurantController.js"></script>  

@@include('footer-last.html')     