<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Eat.Review.Lagos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <meta name="theme-color" content="#DF405A">
        <link rel="icon" href="./assets/img/icon.png">

        <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="./assets/css/main.css">
    </head>
    <body>
        <header class="site-header">
            <div class="wrapper">
                <h1 class="site-title">
                    <a href="./">Eat . Review . Lagos</a>
                </h1>
            </div>
        </header>
        <!-- Page Starts -->