


.restaurants {

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}


.restaurant {
	background: #fff;
	box-shadow: $box-shadow;
	width: 48%;
	margin-bottom: 20px;

	@media screen and (max-width: 600px) {
		width: 100%;
	}

	a {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		padding: 40px 10px;
		position: relative;
		overflow: hidden;
		text-decoration: none;
		outline: none;
		background: #fff;
		transition: transform 0.5s;
	}

	a:focus,
	a:hover {
		transform: scale(1.1);
	    box-shadow: $box-shadow;
	    transition: transform 0.5s;

	    .restaurant__img {
	    	opacity: 0.3;
	    	transition: opacity 0.5s;
	    }
	}

	.restaurant__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;
		opacity: 0.2;
		transition: opacity 0.5s;
	}

	.restaurant__name,
	.restaurant__stars {
		z-index: 1;
		width: 100%;
		text-align: center;
		color: $primary-clr;
	}

	.restaurant__stars .fa {
		margin: 0 2.5px;
	}


	.restaurant_details {
		padding: 10px 15px;


		.detail-icon {
			float: right;
		}
	}
}




/* INFORMATION  */

.information {

	background: #fff;
	box-shadow: $box-shadow;
	width: 100%;
	margin-bottom: 80px;

	position: relative;
}


.information__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	overflow: hidden;

	img {
		object-fit: cover;
		max-width: 700px;
	}

}

.information__content {
	padding-left: calc(60% + 20px);

	padding-top: 15px;
	padding-bottom: 5px;

	section {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 600px) {

	.information__img {
		position: relative;
		width: 100%;
		height: auto;

		img {
			width: 100%;
		}
	}

	.information__content {
		padding-left: 20px;
	}

}


.opening-hours {
	thead {
		display: none;
	}
	.day {
		font-weight: 700;
		padding-right: 20px;
	}
}


