

.reviews-header {
	padding-bottom: 30px;
}


.reviews-list {
	background-color: rgba(223,64,90, 0.2);
	padding: 50px 0;
	display: block;
	
}


.ul-reviews {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.review {
	background: #fff;
	box-shadow: $box-shadow;
	width: 48%;
	padding: 15px;
	margin-bottom: 20px;

	@media screen and (max-width: 600px) {
		width: 100%;
	}
}


.review__author {
	color: $primary-clr;
	font-weight: 700;
	font-size: 2rem;
}


.review__date {

}

.review__stars {
	margin: 10px 0;

	.fa {
		color: $primary-clr;
		margin-right: 2.5px;
	}
}

.review__text {

}



.review--new {
	transform: scale(1.1);
	box-shadow: 0 0 20px 10px rgba(135,49,78,0.5)

}
